/* https://google-webfonts-helper.herokuapp.com/ */
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	    url('fonts/pacifico-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	    url('fonts/pacifico-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 400;
	src: local(''),
	    url('fonts/alegreya-v26-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	    url('fonts/alegreya-v26-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Alegreya';
	font-style: normal;
	font-weight: 700;
	src: local(''),
	    url('fonts/alegreya-v26-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	    url('fonts/alegreya-v26-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Alegreya';
	font-style: italic;
	font-weight: 400;
	src: local(''),
	    url('fonts/alegreya-v26-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	    url('fonts/alegreya-v26-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Alegreya';
	font-style: italic;
	font-weight: 700;
	src: local(''),
	    url('fonts/alegreya-v26-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	    url('fonts/alegreya-v26-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@keyframes rotate {to{transform: rotate(360deg)}}


* { box-sizing: border-box }
a,abbr { color: inherit; text-decoration-thickness: 1px; text-underline-offset: 3px }
h2>a { text-decoration: none }
a:hover { color: #bbb }
body { color: #222 }
h1 { border-bottom: 1px solid #eee; font: 60px Pacifico; margin: 0; text-align: center }
h2 { font: 26px Pacifico; margin: 0 }
h3 { font: 22px Alegreya; margin: 0 }
h4 { font: 18px Alegreya; margin: 0 }
p { font: 22px Alegreya; line-height: 1.5; margin: 0 0 1.5em 0 }


.flexcolcenter,.flexcolstretch,.flexcolend { display: flex; flex-direction: column }
.flexcolcenter { align-items: center }
.flexcolend {align-items: flex-end }
.flexrowcenter,.flexrowstretch,.flexrowstart { display: flex; flex-direction: row }
.flexrowcenter { align-items: center }
.flexrowstart { align-items: flex-start }
.card {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 8px;
	box-shadow: 0 0 8px #ddd;
	margin: 20px 0 0 0;
	padding: 4px;
}
.card>img { flex: none; height: 120px; margin-right: 20px }
.references {
	display: grid;
	grid-template-columns: min-content 1fr;
	align-items: stretch;
	margin: 10px 175px 0 175px;
}
.references>h3 { display: flex; flex-direction: column; justify-content: center; padding: 5px 10px }
.references>h4 { padding: 5px 10px }
.courses {
	display: grid;
	grid-template-columns: max-content 1fr max-content max-content max-content;
	border-top: 1px solid #eee;
	margin: 0 175px;
}
.courses>* {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid #eee;
	padding: 5px;
}
.duties { margin: 20px 175px 0 175px }
.duties>* { margin-top: 10px }
.duties>*:before { content: "•   " }
.sign {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 25px 175px 0 175px;
}
.sign>h4 { text-align: right }
.strip { display: flex; flex-direction: row; align-items: center; border-bottom: 1px solid #eee }
.strip>div:first-child {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	color: #bbb;
	flex: none;
	font: 21px Pacifico;
	padding-right: 20px;
	width: 300px;
}
.project { box-shadow: inset -50px 0 50px -50px #335c67 }
.publication { box-shadow: inset -50px 0 50px -50px #e09f3e }
.teaching { box-shadow: inset -50px 0 50px -50px #540b0e }
.duty { box-shadow: inset -50px 0 50px -50px #ffd200 }
.misc { box-shadow: inset -50px 0 50px -50px #9e2a2b }
.strip>* { padding: 6px 0 6px 20px }
.strip>img { flex: none; width: 220px }
.strip>h3 { flex: none; width: 130px }
.strip h4 { padding-right: 10px }
.rotate:hover {animation:rotate 2s linear infinite}
