body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11pt;
	line-height: 140%;
	max-width: 800px;
	margin: 4em auto;
	text-align: justify;
}

div {
	margin: 0 0 1em 0;
	overflow: hidden;
}
div p {
	margin: 0;
}

img {
	border:1px solid lightgrey;
	float:left;
	margin-right:1.5em;
	width: 11em;
}

h1 {
	color: cornflowerblue;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 150%;
	margin: 0 0 .67em 0;
}
h2 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 115%;
	margin: 0 0 .2em 0;
}

table {
	font-size: small;
	line-height: 140%;
}
th {
	font-weight: normal;
	vertical-align: top;
}
td {
	padding: 0 0 .5em 1em;
}

ul {
	list-style: none;
	padding-left: 3em;
}
li {
	margin-bottom: 0.5em;
	text-indent: -3em;
}
li:before {
	content: '➤';
	margin: 0 1em;
}

a:link,a:visited {
	color: orangered;
}

/*iframe {
	margin: 0;
	width: 98%;
	height: 1.3em;
}

object {
	display: block;
	margin: 1.3em auto;
}
*/